<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>SupabaseURL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SupabasePublishableKey</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>CFBundleName</key>
	<string>호롱호롱</string>
	<key>CFBundleDisplayName</key>
	<string>호롱호롱</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>현재 열려있는 브라우저(Chrome/Safari) 탭의 URL을 읽어 "엔터/조사/기타" 통계 분류에 사용합니다.</string>
	<key>NSRemindersUsageDescription</key>
	<string>메모를 macOS 미리알림 앱에 등록하고 데드라인을 동기화하는 데 사용합니다.</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>미리알림 목록과 미완료 항목을 불러오고, 호롱호롱 메모와 동기화하는 데 사용합니다.</string>
</dict>
</plist>
